html {
    font-family: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: rgb(85, 85, 223);
}

.make-blue {
    color: rgb(151, 151, 239);
    background-color: #0e075c;
    text-shadow: 0 0 7px #edcfcf;
    border-radius: 12px;
    padding-bottom: 0;
}

.std-img {
    display: block;
    margin: 0 auto;
    box-shadow: 3px 3px 10px #12120e;
    background-color: #ffffff;
    padding: 2rem 5rem;
    border-radius: 40px;
    max-width: 10%;
}
body {
    width: 65%;
    margin: 40px auto;
    background-color: #f9f2e2;
    padding: 0 45px 45px;
    border: 5px solid black;
    border-radius: 40px;
}
h1 {
    margin: 10px;
    padding: 20px 0;
    font-family: 'CrusoeTextRegular';
    text-shadow: -3px 3px 7px #686848;
    font-size: 8rem;
    text-align: center;
}

p, li {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.small-print {
    font-size: 1.2rem;
    padding: 20px;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}